 
$healthbar-height: 20px; 
div.healthbar {
  height: 100%; 
  background: linear-gradient(125deg, green 90%, transparent 10%);
  margin-top: -$healthbar-height;
  color: white;
  font-weight: 600;
}
div.healthbarRed {
  
  height: 100%;
  background: linear-gradient(125deg, red 90%, transparent 10%);
}
div.healthbarBack {
  height: $healthbar-height; 
  width: 300px;
  margin-left: 15px;
  background: linear-gradient(125deg, black 90%, transparent 10%);
  padding: 5px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}