#canvas{
    height: 100vh;
    display: block;
    position: absolute;
    top: 0px;
    z-index: -10;
}
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.custom-dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  